.SucessStories {
  padding: 0 10rem;
  height: 90rem;
  margin-top: 0;
  background-image: url(../../Assets/NewsBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5rem 0;
}

.sucessmoto {
  padding: 0 10rem;
}

.heder h1 {
  color: var(--color-black);
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

.bannersucess {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.lower p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.bannersucess {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.div__sml__bnr {
  background-color: #ecf0f1;
  width: 23%;
}

.div__sml__bnr img {
  width: 100%;
  height: 34rem;
}

.bnsi {
  padding: 1rem;
}

.bnsi h3:hover {
  color: var(--color-red);
}

.div__sml__bnr h3 {
  padding: 1rem 0;
  font-size: 2.3rem;
  font-weight: 500;
}

.div__sml__bnr p {
  font-size: 1.4rem;
  font-weight: 400;
}

.spun {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 500;
}

.susbutton {
  width: 15rem;
  height: 3rem;
  background-color: var(--color-black);
  color: var(--color-primary);
  font-size: 2rem;
  margin: 1.5rem 0;
}

.susbutton:hover {
  background-color: var(--color-red);
  color: var(--color-primary);
}

.hhh:hover {
  color: var(--color-red);
}
