.About {
  height: 95rem;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutbanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -18rem;
  background-color: var(--color-primary);
  padding: 3rem;
}

.img__ban_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img__ban_1 img {
  width: 32%;
  position: relative;
}

.underabout {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.count {
  width: 30%;
  padding-right: 5rem;
  direction: rtl;
}

.count h4 {
  font-size: 2rem;
  font-weight: 400;
}

.count h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black);
}

.aboutmah {
  width: 70%;
  padding-top: 3rem;
}

.aboutmah h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-black);
}

.aboutmah h3 {
  font-size: 3.3rem;
  font-weight: 400;
  color: var(--color-black);
}

.aboutmah p {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-black);
}

span {
  font-weight: 800;
}

.bttn__1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 5rem;
  border: 0.4rem solid red;
  background-color: transparent;
  color: var(--color-red);
  font-size: 2rem;
  margin-top: 2rem;
}

.bttn__2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  width: 35rem;
  height: 5rem;
  border: 0.4rem solid red;
  background-color: transparent;
  color: var(--color-red);
  font-size: 2rem;
  margin-top: 1rem;
}

.bttn__1:hover {
  background-color: var(--color-red);
  color: var(--color-primary);
}
.bttn__2:hover {
  background-color: var(--color-red);
  color: var(--color-primary);
}