.FocusArea {
  width: 100%;
  margin: 0;
  height: 70rem;
  padding: 0 10rem;
  color: var(--color-primary);
  background-image: url(../../Assets/Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FocusArea img {
  width: 100%;
}

.tex {
  width: 50rem;
  padding: 10rem 0;
  margin-right: 5rem;
}

.tex__h1 {
  font-size: 8rem;
  font-weight: 700;
}

.tex__h2 {
  font-size: 3rem;
  font-weight: 400;
}

.tex__h3 {
  font-size: 3rem;
  font-weight: 400;
}

.button {
  cursor: pointer;
  display: inline-flex;
  margin-top: 3rem;
}

.btn__1 {
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  border: 0.4rem solid #ffff;
  background-color: transparent;
  color: var(--color-primary);
  margin-right: 1rem;
  font-size: 2rem;
}

.btn__1:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.btn__2 {
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  border: 0.4rem solid #ffff;
  background-color: transparent;
  color: var(--color-primary);
  margin-left: 1rem;
  font-size: 2rem;
}

.btn__2:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
}
