.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
}

.quick {
    padding: 5rem;
    line-height: 2;
    width: 20rem;
}

.Quick__item {
    text-decoration: none;
}

.quick__link {
    color: var(--color-primary);
}

a {
    color: var(--color-primary);
}

.address {
    padding-left: 5rem;
    padding-right: 5rem;
}
.newsletter {
    padding-left: 5rem;
    padding-right: 5rem;
}

input {
    margin-top: 1rem;
    width: 25rem;
    height: 3rem;
}

.bbtn {
    margin-top: 2rem;
    width: 25rem;
    height: 3rem;
    background-color: var(--color-red);
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}