/* google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;700&display=swap");

:root {
  --color-primary: #ffffff;
  --color-black: #162022;
  --color-red: #ff2400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body {
  background-color: var(--color-primary);
  color: var(--color-black);
  font-family: "poppins";
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
}

input::placeholder {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}