/* google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;700&display=swap");

:root {
  --color-primary: #ffffff;
  --color-black: #162022;
  --color-red: #ff2400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-black);
  font-family: "poppins";
}

.container {
  width: 90%;
  margin: 0 auto;
}

input::placeholder {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

@media(max-width:1280px) {
  html {
    font-size: 50%;
  }
  .img__ban_1 img {
    width: 48%;
  }
  .nav__logo img {
    width: 78%;
  }
  .div__sml__bnr img {
    width: 78%;
  }
}

@media(max-width:1024px) {
  html {
    font-size: 40%;
  }
  .img__ban_1 img {
    width: 38%;
  }
  .nav__logo img {
    width: 68%;
  }
  .div__sml__bnr img {
    width: 68%;
  }
}

@media(max-width:768px) {
  html {
    font-size: 30%;
  }
  .img__ban_1 img {
    width: 28%;
  }
  .nav__logo img {
    width: 58%;
  }
  .div__sml__bnr img {
    width: 58%;
  }
}

@media(max-width:600px) {
  html {
    font-size: 20%;
  }
  .img__ban_1 img {
    width: 18%;
  }
  .nav__logo img {
    width: 48%;
  }
  .div__sml__bnr img {
    width: 48%;
  }
}

@media(max-width:480px) {
  html {
    font-size: 20%;
  }
  .img__ban_1 img {
    width: 18%;
  }
  .nav__logo img {
    width: 48%;
  }
  .div__sml__bnr img {
    width: 38%;
  }
}

