.RecentNews {
  padding: 0 10rem;
  height: 75rem;
  margin-top: 0;
  padding-top: 3rem;
  background-image: url(../../Assets/NewsBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__recent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__recent h1 {
  font-size: 5rem;
  font-weight: 500;
}

.pic__recentnews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentne__text {
  padding: 1rem;
}

.recentne__text h5 {
  font-size: 1rem;
  font-weight: 300;
}

.recentne__text h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.recentne__text p {
  font-size: 1.8rem;
  font-weight: 400;
}

.pic__recentnews {
  width: 100%;
}

.recent__bnr {
  width: 32%;
  margin-left: 2rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.recent__bnr__3 {
  width: 32%;
  margin-right: 2rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.recent__bnr__3 img {
  width: 100%;
}

.recent__bnr img {
  width: 100%;
}
